input[type="search"] {border-radius: 0.6em;}
.scroller {min-height:48em; max-height:48em; overflow-y:scroll}

.generator {
  min-height:48em; max-height:48em;
  
  .tap {padding-top:3px;}
  
  width: 100%;
  td {width:50%; vertical-align: top;}
  
  .toolbar {margin-bottom: 1em;}
  .papper {position: relative;}
  
  .form form {margin-bottom: 0;}
  .genname {width: 100%;}
  .date {font-size: 85%; color: #ccc;}
  
  h2 {margin: 0}
  h2 a {color: #0067e6;}

  .rate {width:60px;} 
  
  .files {
    font-size: 85%;
    .size {width: 100px;}
    .name {width: 300px;} 
    .date {color:#999;}
  }
  
}

