body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  margin-bottom: 0.2em;
}
header {
  padding: 0 15px 0 0;
}
header ul {
  margin: 0 0 0 40px;
  padding: 0;
}
header ul a {
  color: white;
}
header li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 10px 12px 10px;
}
header li.active {
  background: rgba(255, 255, 255, 0.15);
}
header li.active a {
  cursor: default;
  text-decoration: none;
  border: none;
}
header .me {
  padding: 8px 1em;
  coor: black;
}
hgroup {
  position: relative;
  margin: 0;
  padding: 0;
}
.-nopaddings hgroup {
  padding: 2em;
}
hgroup button {
  position: absolute;
  left: 300px;
  top: 36px;
}
main {
  max-width: 60em;
  min-height: 40em;
  margin: 3em auto;
}
/* Angular styles */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
[ng-click] {
  cursor: pointer;
}
.ng-invalid.ng-touched {
  border-color: #cc0000;
  border-width: 1px;
}
.addform {
  border: solid 5px gold;
  padding: 1em 2em;
}
/* TODO: Move to SEGA2*/
header {
  width: inherit;
}
.hidden,
input[type="submit"].hidden {
  display: none;
}
.-relative {
  position: relative;
}
hr {
  height: 1px;
  border: none;
  margin: 1em 0;
  border-top: solid #ccc 1px;
  background: none;
}
.-pull-right {
  float: right;
}
.-pull-left {
  float: left;
}
.-m-right {
  margin-right: 1em;
}
.-m-left {
  margin-left: 1em;
}
.-m-top {
  margin-top: 1em;
}
.-m-bottom {
  margin-bottom: 1em;
}
.-m2-right {
  margin-right: 2em;
}
.-m2-left {
  margin-left: 2em;
}
.-m2-top {
  margin-top: 2em;
}
.-m2-bottom {
  margin-bottom: 2em;
}
.-disabled {
  pointer-events: none;
}
.columns2 .column {
  float: left;
  width: 40%;
  margin-right: 3em;
}
.columns3 .column {
  float: left;
  width: 30%;
  margin-right: 3em;
}
.panel {
  padding: 1em;
  background: #f6f8e9;
  border: solid 1px #e3e8c5;
  border-radius: 2px;
  color: black;
}
.-panel-white {
  background: white;
  border: solid 1px #d0d0d0;
  color: black;
}
textarea {
  border-color: #999;
}


/* Shake animation */
/* TODO: prefixes */
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-3px);
  }
  40% {
    -webkit-transform: translateX(4px);
  }
  60% {
    -webkit-transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(3px);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-3px);
  }
  40% {
    -webkit-transform: translateX(4px);
  }
  60% {
    -webkit-transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(3px);
  }
}
.shake {
  animation: shake 300ms;
  -webkit-animation: shake 300ms;
}
.shake-add-active {
  animation: shake 300ms;
  -webkit-animation: shake 300ms;
}
/*


.shake-add, .shake-remove {
  animation: none;
  -webkit-animation: none;
}


.shake-add-active {
 animation: shake 300ms;
  -webkit-animation: shake 300ms;
}
*/


.agg .paper {
  padding: 1em 2em;
}
.agg h2 {
  margin: 0;
}
.agg .licenseform {
  width: 300px;
  padding: 1em;
  margin-left: -1em;
}
.agg .licenseform-active {
  background: #f6f8e9;
  border: solid 1px #e3e8c5;
}
.agg .licenseform .form {
  margin: 1em 0 0.3em 0;
}
.agg label.ports {
  display: inline-block;
  width: 70px;
}
.agg .ports-shift {
  padding-left: 70px;
}
.agg input.serial,
.agg .description {
  width: 100%;
  min-width: 300px;
  margin: 0 2em 1em 0;
}
.agg .description {
  margin: 0 2em 0.5em 0;
}
.agg .description textarea {
  width: 100%;
  height: 4em;
  max-width: 100%;
}
.agg .license ul {
  margin: .5em 0;
  padding: 0;
}
.agg .license li {
  list-style-type: none;
  padding: 0.3em 0;
}
.agg .date {
  font-size: 85%;
  color: #999;
}


.dev .method {
  margin-bottom: 1em;
}
.dev .form {
  margin: 0.5em 0 0 0;
}
.dev .form textarea {
  margin-bottom: 0.5em;
  width: 100%;
  border-color: lavender;
}
.dev pre {
  margin: 0;
}
.dev .json {
  padding: 1em;
  background: #ffffdd;
  font-size: 80%;
}
.dev .params {
  margin-top: 0.5em;
}
.dev .no-top-padding {
  padding-top: 0;
}
.dev .elapsed {
  margin-left: 1em;
  color: #777;
  font-size: 80%;
}
.dev .result .json {
  background: #dcf6ff;
  border: solid 1px #bde0ec;
  margin-top: 0.5em;
}
.dev .error .json {
  background: #fff2f2;
  border: solid 1px #f8d1d1;
  margin-top: 0.5em;
  color: #cc0000;
}
.dev .allErrors {
  color: #cc0000;
}
.dev h1 {
  margin: 1em 0 0.5em 0;
  font-size: 150%;
}
.dev textarea.jsonerror {
  border-color: red;
}


input[type="search"] {
  border-radius: 0.6em;
}
.scroller {
  min-height: 48em;
  max-height: 48em;
  overflow-y: scroll;
}
.generator {
  min-height: 48em;
  max-height: 48em;
  width: 100%;
}
.generator .tap {
  padding-top: 3px;
}
.generator td {
  width: 50%;
  vertical-align: top;
}
.generator .toolbar {
  margin-bottom: 1em;
}
.generator .papper {
  position: relative;
}
.generator .form form {
  margin-bottom: 0;
}
.generator .genname {
  width: 100%;
}
.generator .date {
  font-size: 85%;
  color: #ccc;
}
.generator h2 {
  margin: 0;
}
.generator h2 a {
  color: #0067e6;
}
.generator .rate {
  width: 60px;
}
.generator .files {
  font-size: 85%;
}
.generator .files .size {
  width: 100px;
}
.generator .files .name {
  width: 300px;
}
.generator .files .date {
  color: #999;
}


.login .panel {
  position: absolute;
  right: 1.8em;
  width: 300px;
  z-index: 50;
}


.software ul {
  margin: 0 0 1em 0;
  padding: 0;
}
.software li {
  margin: 0;
  padding: 0 0 0.8em 0;
  list-style-type: none;
}
.software .date {
  color: #999;
  font-size: 85%;
  margin-right: 10px;
}


.users ul {
  margin: 1em 0 0 0;
  padding: 0;
}
.users li {
  margin-bottom: 0.6em;
  list-style-type: none;
}
.users select.role {
  width: 180px;
}


/*# sourceMappingURL=all.css.map */